*{
	margin: 0;
	padding: 0;
    font-family: sans-serif; 
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	height:10vh;
	background-position: relative;
  	background-size: cover;
  	background-color: black;
}

ul{
	 
	list-style-type: none;
     
	text-align: right;
}

ul li{

	display :inline-block;
	padding: 4px;
	margin: 5px;

}

ul li a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{

	background-color: #fff;
	color:#000;
}



ul li.active a{
	background-color: #fff;
	color:#000;

}

.food5_wrapper{
             
            
            color:black;

            position: absolute;

            top: 50%;

            left: 50%;

             transform: translate(-50%,-50%);

        }
         
        .bgimage{

           background-image: url("m back.jpg");
        	margin-top: 5px;
        	
        } 

body {

	font-family: 'Montserrat', sans-serif;

}

.text{

	color:black;

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%,-50%);


}




.img-responsive {

  max-width: 100%;

}


.img-responsive1 {

  max-width: 100%;

}


.hero_headerclass{

	background-color: blue;
	padding:10px 10px 10px 10px 10px;
	max-height: 20px;
	max-width: 30px;
	align-self:center;
	margin-left:175px;
}


.hero_wrapper {

	color:black;

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%,-50%);

}



.hero_wrapper h1 {

	text-align: center;
     font-size: 3.5rem;
     color: red;

}
.hero_wrapper h2{
	text-align: center;

}

.hero_wrapper span {

	margin-left: 5rem;

	display: inline-block;

	margin-bottom: .5rem;

}



.form_code {

	text-align: center;

}
	


.form_code .post_code {

	display: block;

	width: 80%;

	margin-left: auto;

	margin-right: auto;

	border-radius: 2rem;

	padding: .20rem;

	border:none;

	outline:none;

}



.form_code button {

	width: 30%;

	text-align: center;

	background-color: #00bab1;

	color: white;

	padding: .8rem;

	margin:2rem auto 2rem;

	border: none;

	border-radius: 50%;

}


.product {

	width: 90%;

	margin-top: .5rem;

	margin-left: auto;

	margin-right: auto;

}



.product__list__item {

	float: left;

	width: 32%;

	margin-left: .5rem;

}





.product__list__item:first-of-type {

	margin-left: 0;

}

.navigation{
	font size:1.4rem;
	text-align: center;
}


.navigation h1{
	font-size: 2.4rem;
	text-align: center;
}


.gold{
	margin: auto;
	text-align: center;
	margin-top: 70px;
}


@media screen and (max-width: 700px) {

	.product__list__item { 

		width: 100%;

		float: none;

	}

}

